In [64]:
! pip install numpy pandas matplotlib seaborn scikit-learn

Requirement already satisfied: numpy in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (2.2.1)
Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: matplotlib in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (3.10.0)
Requirement already satisfied: seaborn in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (0.13.2)
Requirement already satisfied: scikit-learn in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (1.6.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\roaming\python\python313\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: scipy>=1.6.0 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.15.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import numpy as np  
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import itertools
import random

In [66]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [67]:
folder_path='archive/nsl-kdd'
file_path_20_percent =f'{folder_path}/KDDTrain+_20Percent.txt'    
file_path_full_training_set =f'{folder_path}/KDDTrain+.txt' 
file_path_test = f'{folder_path}/KDDTest+.txt' 

df = pd.read_csv(file_path_full_training_set)
test_df = pd.read_csv(file_path_test)

In [68]:
columns = (['duration'
,'protocol_type'
,'service'
,'flag'
,'src_bytes'
,'dst_bytes'
,'land'
,'wrong_fragment'
,'urgent'
,'hot'
,'num_failed_logins'
,'logged_in'
,'num_compromised'
,'root_shell'
,'su_attempted'
,'num_root'
,'num_file_creations'
,'num_shells'
,'num_access_files'
,'num_outbound_cmds'
,'is_host_login'
,'is_guest_login'
,'count'
,'srv_count'
,'serror_rate'
,'srv_serror_rate'
,'rerror_rate'
,'srv_rerror_rate'
,'same_srv_rate'
,'diff_srv_rate'
,'srv_diff_host_rate'
,'dst_host_count'
,'dst_host_srv_count'
,'dst_host_same_srv_rate'
,'dst_host_diff_srv_rate'
,'dst_host_same_src_port_rate'
,'dst_host_srv_diff_host_rate'
,'dst_host_serror_rate'
,'dst_host_srv_serror_rate'
,'dst_host_rerror_rate'
,'dst_host_srv_rerror_rate'
,'attack'
,'level'])

df.columns = columns
test_df.columns = columns

df.head()

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,attack,level
0,0,udp,other,SF,146,0,0,0,0,0,...,0.00,0.60,0.88,0.00,0.00,0.00,0.0,0.00,normal,15
1,0,tcp,private,S0,0,0,0,0,0,0,...,0.10,0.05,0.00,0.00,1.00,1.00,0.0,0.00,neptune,19
2,0,tcp,http,SF,232,8153,0,0,0,0,...,1.00,0.00,0.03,0.04,0.03,0.01,0.0,0.01,normal,21
3,0,tcp,http,SF,199,420,0,0,0,0,...,1.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,normal,21
4,0,tcp,private,REJ,0,0,0,0,0,0,...,0.07,0.07,0.00,0.00,0.00,0.00,1.0,1.00,neptune,21

In [69]:
is_attack = df.attack.map(lambda a: 0 if a == 'normal' else 1) 
test_attack = test_df.attack.map(lambda a: 0 if a == 'normal' else 1) 

df['attack_flag'] = is_attack 
test_df['attack_flag'] = test_attack 

df.head()

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,attack,level,attack_flag
0,0,udp,other,SF,146,0,0,0,0,0,...,0.60,0.88,0.00,0.00,0.00,0.0,0.00,normal,15,0
1,0,tcp,private,S0,0,0,0,0,0,0,...,0.05,0.00,0.00,1.00,1.00,0.0,0.00,neptune,19,1
2,0,tcp,http,SF,232,8153,0,0,0,0,...,0.00,0.03,0.04,0.03,0.01,0.0,0.01,normal,21,0
3,0,tcp,http,SF,199,420,0,0,0,0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,normal,21,0
4,0,tcp,private,REJ,0,0,0,0,0,0,...,0.07,0.00,0.00,0.00,0.00,1.0,1.00,neptune,21,1

In [70]:
np.shape(df)

(125972, 44)

In [71]:
set(df['protocol_type'])

{'icmp', 'tcp', 'udp'}

In [72]:
set(df['attack'])

{'back',
 'buffer_overflow',
 'ftp_write',
 'guess_passwd',
 'imap',
 'ipsweep',
 'land',
 'loadmodule',
 'multihop',
 'neptune',
 'nmap',
 'normal',
 'perl',
 'phf',
 'pod',
 'portsweep',
 'rootkit',
 'satan',
 'smurf',
 'spy',
 'teardrop',
 'warezclient',
 'warezmaster'}

In [73]:
set(df['service'])

{'IRC',
 'X11',
 'Z39_50',
 'aol',
 'auth',
 'bgp',
 'courier',
 'csnet_ns',
 'ctf',
 'daytime',
 'discard',
 'domain',
 'domain_u',
 'echo',
 'eco_i',
 'ecr_i',
 'efs',
 'exec',
 'finger',
 'ftp',
 'ftp_data',
 'gopher',
 'harvest',
 'hostnames',
 'http',
 'http_2784',
 'http_443',
 'http_8001',
 'imap4',
 'iso_tsap',
 'klogin',
 'kshell',
 'ldap',
 'link',
 'login',
 'mtp',
 'name',
 'netbios_dgm',
 'netbios_ns',
 'netbios_ssn',
 'netstat',
 'nnsp',
 'nntp',
 'ntp_u',
 'other',
 'pm_dump',
 'pop_2',
 'pop_3',
 'printer',
 'private',
 'red_i',
 'remote_job',
 'rje',
 'shell',
 'smtp',
 'sql_net',
 'ssh',
 'sunrpc',
 'supdup',
 'systat',
 'telnet',
 'tftp_u',
 'tim_i',
 'time',
 'urh_i',
 'urp_i',
 'uucp',
 'uucp_path',
 'vmnet',
 'whois'}

In [74]:
dos_attacks = ['apache2','back','land','neptune','mailbomb','pod','processtable','smurf','teardrop','udpstorm','worm']
probe_attacks = ['ipsweep','mscan','nmap','portsweep','saint','satan']
privilege_attacks = ['buffer_overflow','loadmdoule','perl','ps','rootkit','sqlattack','xterm']
access_attacks = ['ftp_write','guess_passwd','http_tunnel','imap','multihop','named','phf','sendmail','snmpgetattack','snmpguess','spy','warezclient','warezmaster','xclock','xsnoop']

attack_labels = ['Normal','DoS','Probe','Privilege','Access']  

def attack_types(attack):
    if attack in dos_attacks:
        attack_type = 1
    elif attack in probe_attacks:
        attack_type = 2
    elif attack in privilege_attacks:
        attack_type = 3
    elif attack in access_attacks:
        attack_type = 4
    else:
        attack_type = 0
        
    return attack_type

attack_map = df.attack.apply(attack_types)  

df['attack_map'] = attack_map

test_attack_map = test_df.attack.apply(attack_types)
test_df['attack_map'] = test_attack_map

df.head()

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,attack,level,attack_flag,attack_map
0,0,udp,other,SF,146,0,0,0,0,0,...,0.88,0.00,0.00,0.00,0.0,0.00,normal,15,0,0
1,0,tcp,private,S0,0,0,0,0,0,0,...,0.00,0.00,1.00,1.00,0.0,0.00,neptune,19,1,1
2,0,tcp,http,SF,232,8153,0,0,0,0,...,0.03,0.04,0.03,0.01,0.0,0.01,normal,21,0,0
3,0,tcp,http,SF,199,420,0,0,0,0,...,0.00,0.00,0.00,0.00,0.0,0.00,normal,21,0,0
4,0,tcp,private,REJ,0,0,0,0,0,0,...,0.00,0.00,0.00,0.00,1.0,1.00,neptune,21,1,1

In [75]:
features_to_encode = ['protocol_type', 'service', 'flag']
encoded = pd.get_dummies(df[features_to_encode]) 
test_encoded_base = pd.get_dummies(test_df[features_to_encode])

test_index = np.arange(len(test_df.index))
column_diffs = list(set(encoded.columns.values)-set(test_encoded_base.columns.values)) 

diff_df = pd.DataFrame(0, index=test_index, columns=column_diffs) 

column_order = encoded.columns.to_list()

test_encoded_temp = test_encoded_base.join(diff_df)

test_final = test_encoded_temp[column_order].fillna(0)

numeric_features = ['duration', 'src_bytes', 'dst_bytes']

to_fit = encoded.join(df[numeric_features])
test_set = test_final.join(test_df[numeric_features])

In [76]:
binary_y = df['attack_flag'] 
multi_y = df['attack_map']

test_binary_y = test_df['attack_flag'] #normal mi saldırı mı
test_multi_y = test_df['attack_map'] #saldırı tipi ne 

binary_train_X, binary_val_X, binary_train_y, binary_val_y = train_test_split(to_fit, binary_y, test_size=0.2)
multi_train_X, multi_val_X, multi_train_y, multi_val_y = train_test_split(to_fit, multi_y, test_size = 0.2)

In [77]:
binary_train_X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100777 entries, 5462 to 97790
Data columns (total 87 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   protocol_type_icmp   100777 non-null  bool
 1   protocol_type_tcp    100777 non-null  bool
 2   protocol_type_udp    100777 non-null  bool
 3   service_IRC          100777 non-null  bool
 4   service_X11          100777 non-null  bool
 5   service_Z39_50       100777 non-null  bool
 6   service_aol          100777 non-null  bool
 7   service_auth         100777 non-null  bool
 8   service_bgp          100777 non-null  bool
 9   service_courier      100777 non-null  bool
 10  service_csnet_ns     100777 non-null  bool
 11  service_ctf          100777 non-null  bool
 12  service_daytime      100777 non-null  bool
 13  service_discard      100777 non-null  bool
 14  service_domain       100777 non-null  bool
 15  service_domain_u     100777 non-null  bool
 16  service_echo         100777 non-null  bool
 17  service_eco_i        100777 non-null  bool
 18  service_ecr_i        100777 non-null  bool
 19  service_efs          100777 non-null  bool
 20  service_exec         100777 non-null  bool
 21  service_finger       100777 non-null  bool
 22  service_ftp          100777 non-null  bool
 23  service_ftp_data     100777 non-null  bool
 24  service_gopher       100777 non-null  bool
 25  service_harvest      100777 non-null  bool
 26  service_hostnames    100777 non-null  bool
 27  service_http         100777 non-null  bool
 28  service_http_2784    100777 non-null  bool
 29  service_http_443     100777 non-null  bool
 30  service_http_8001    100777 non-null  bool
 31  service_imap4        100777 non-null  bool
 32  service_iso_tsap     100777 non-null  bool
 33  service_klogin       100777 non-null  bool
 34  service_kshell       100777 non-null  bool
 35  service_ldap         100777 non-null  bool
 36  service_link         100777 non-null  bool
 37  service_login        100777 non-null  bool
 38  service_mtp          100777 non-null  bool
 39  service_name         100777 non-null  bool
 40  service_netbios_dgm  100777 non-null  bool
 41  service_netbios_ns   100777 non-null  bool
 42  service_netbios_ssn  100777 non-null  bool
 43  service_netstat      100777 non-null  bool
 44  service_nnsp         100777 non-null  bool
 45  service_nntp         100777 non-null  bool
 46  service_ntp_u        100777 non-null  bool
 47  service_other        100777 non-null  bool
 48  service_pm_dump      100777 non-null  bool
 49  service_pop_2        100777 non-null  bool
 50  service_pop_3        100777 non-null  bool
 51  service_printer      100777 non-null  bool
 52  service_private      100777 non-null  bool
 53  service_red_i        100777 non-null  bool
 54  service_remote_job   100777 non-null  bool
 55  service_rje          100777 non-null  bool
 56  service_shell        100777 non-null  bool
 57  service_smtp         100777 non-null  bool
 58  service_sql_net      100777 non-null  bool
 59  service_ssh          100777 non-null  bool
 60  service_sunrpc       100777 non-null  bool
 61  service_supdup       100777 non-null  bool
 62  service_systat       100777 non-null  bool
 63  service_telnet       100777 non-null  bool
 64  service_tftp_u       100777 non-null  bool
 65  service_tim_i        100777 non-null  bool
 66  service_time         100777 non-null  bool
 67  service_urh_i        100777 non-null  bool
 68  service_urp_i        100777 non-null  bool
 69  service_uucp         100777 non-null  bool
 70  service_uucp_path    100777 non-null  bool
 71  service_vmnet        100777 non-null  bool
 72  service_whois        100777 non-null  bool
 73  flag_OTH             100777 non-null  bool
 74  flag_REJ             100777 non-null  bool
 75  flag_RSTO            100777 non-null  bool
 76  flag_RSTOS0          100777 non-null  bool
 77  flag_RSTR            100777 non-null  bool
 78  flag_S0              100777 non-null  bool
 79  flag_S1              100777 non-null  bool
 80  flag_S2              100777 non-null  bool
 81  flag_S3              100777 non-null  bool
 82  flag_SF              100777 non-null  bool
 83  flag_SH              100777 non-null  bool
 84  duration             100777 non-null  int64
 85  src_bytes            100777 non-null  int64
 86  dst_bytes            100777 non-null  int64
dtypes: bool(84), int64(3)
memory usage: 11.1 MB

In [78]:
binary_train_X.sample(5)

,protocol_type_icmp,protocol_type_tcp,protocol_type_udp,service_IRC,service_X11,service_Z39_50,service_aol,service_auth,service_bgp,service_courier,...,flag_RSTR,flag_S0,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH,duration,src_bytes,dst_bytes
115147,False,True,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,0,0,0
75176,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,0,105,145
91137,False,True,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,0,0,0
34780,False,True,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,0,0,0
32127,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,0,323,10840

In [79]:
from sklearn.ensemble import RandomForestClassifier


binary_model = RandomForestClassifier()
binary_model.fit(binary_train_X, binary_train_y)
binary_predictions = binary_model.predict(binary_val_X)

base_rf_score = accuracy_score(binary_predictions,binary_val_y)
base_rf_score

0.9930144870013892